{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}

  {% for ann in mission.announcements %}
    {{ ann }}
  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>
		{{mission.title}}
		<small>{{ mission.reward }} pts</small>
	  </h1>
      {% if mission.status != "locked" %}
	    <div class="progress">
	      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ mission.progress }}%">
			  {% if mission.posts_completed > 0 %}
		        <span>{{ mission.posts_completed }} / {{ mission.posts_total }}</span>
			  {% endif %}
		  </div>
	    </div>
      {% endif %}
    </div>
  </div>
  {% if mission.status == "locked" %}
    <div class="panel panel-default">
        <div class="panel-body">
			<h1 class="access-denied text-center">ACCESS DENIED
				<br>
				<br>
				<small>YOU DO NOT HAVE THE NECESSARY CLEARANCE TO ACCESS THIS FILE.</small>
			</h1>
        </div>
	</div>
  {% else %}

    {% for post in mission.posts %}

      {% if post.status != "locked" %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>
            <i>from</i>
            <a href="#">{{ post.sender }}</a>
            <i>at</i>
            date
          </strong>

        </div>
        <div class="panel-body">
          {{ post.html_en|safe }}
        </div>
      </div>
      {% endif %}
    {% endfor %}

  {% include "puzzle_hero/flag_submission.html" %}
  {% endif %}


{% endblock %}
