{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load treetags %}


{% block content %}

  {% for track in tracks %}
    {% if track.disabled == False %}
	  {% include "puzzle_hero/track_panel.html" with track=track json_tree=tree_data|keyvalue:track.id %}
    {% endif %}
  {% endfor %}

  {% for ann in team_announcements %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">{{ ann.time }}</h3>
      </div>
      <div class="panel-body">{{ ann.message }}</div>
    </div>
  {% endfor %}

  {% include "puzzle_hero/flag_submission.html" %}

{% endblock %}
