{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load treetags %}


{% block content %}

  {% for ts in track_statuses %}
    <h2>{{ ts.track.title }} - {{ ts.status }}</h2>
    <ul>

      {% for ms in mission_statuses %}
        {% if ms.mission.track == ts.track %}
          <li>
            {{ ms.mission.title }} - {{ ms.status }}
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  {% endfor %}

  {% for track in tracks %}
    {% with tid=track.id %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ track.title }}</h3>
      </div>
      <div class="panel-body">
        <div class="mission-tree">
          <svg class="track-tree" data-json="{{ tree_data|keyvalue:tid }}"><g /></svg>
        </div>
      </div>
      <table class="table">
        {% for mission in track.missions %}
          <tr>
            <td>
              <a href="/missions/{{mission.id}}">{{ mission.title }}</a>
            </td>
            <td>{{ mission.reward }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% endwith %}
  {% endfor %}

  {% include "puzzle_hero/flag_submission.html" %}

{% endblock %}
