{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}

  {% for ts in track_statuses %}
    <h2>{{ ts.track.title }} - {{ ts.status }}</h2>
    <ul>

    {% for ms in mission_statuses %}
      {% if ms.mission.track == ts.track %}
        <li>
          {{ ms.mission.title }} - {{ ms.status }}
        </li>
      {% endif %}
    {% endfor %}

    </ul>
  {% endfor %}

{% for track in tracks %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ track.title }}</h3>
		</div>
		<div class="panel-body">
			<div class="mission-tree">
				  <svg class="track-tree" data-json="eyJtaXNzaW9uXzAxIjp7InN0YXR1cyI6ImNsb3NlZCIsInJld2FyZCI6MjAsImRlcGVuZGVuY2llcyI6W119LCJtaXNzaW9uXzAyIjp7InN0YXR1cyI6Im9wZW4iLCJyZXdhcmQiOjUwLCJkZXBlbmRlbmNpZXMiOlsibWlzc2lvbl8wMSJdfSwibWlzc2lvbl8wMyI6eyJzdGF0dXMiOiJsb2NrZWQiLCJyZXdhcmQiOjUwLCJkZXBlbmRlbmNpZXMiOlsibWlzc2lvbl8wMiJdfSwibWlzc2lvbl8wNCI6eyJzdGF0dXMiOiJsb2NrZWQiLCJyZXdhcmQiOjUwLCJkZXBlbmRlbmNpZXMiOlsibWlzc2lvbl8wMyJdfSwibWlzc2lvbl8wNSI6eyJzdGF0dXMiOiJvcGVuIiwicmV3YXJkIjo1MCwiZGVwZW5kZW5jaWVzIjpbIm1pc3Npb25fMDEiXX0sIm1pc3Npb25fMDYiOnsic3RhdHVzIjoibG9ja2VkIiwicmV3YXJkIjo1MCwiZGVwZW5kZW5jaWVzIjpbIm1pc3Npb25fMDUiXX0sIm1pc3Npb25fMDciOnsic3RhdHVzIjoibG9ja2VkIiwicmV3YXJkIjo1MCwiZGVwZW5kZW5jaWVzIjpbIm1pc3Npb25fMDQiLCJtaXNzaW9uXzA2Il19fQ=="><g/></svg>
			</div>
		</div>
		<table class="table">
			{% for mission in track.missions %}
				<tr>
					<td>
						<a href="/missions/{{mission.id}}">{{ mission.title }}</a>
					</td>
					<td>{{ mission.reward }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endfor %}

{% include "puzzle_hero/flag_submission.html" %}

{% endblock %}
